<div class="header">
	<div class="container clfix">
		<div class="fl">
			<a class="header-item" href="../Index/index.html">
				<img src="../../static/image/icon/logo-header.png">
			</a>
			<div class="header-item">
				<span class="header-title">组卷系统</span>
			</div>
			<div class="header-item">
				<a class="header-subject" href="javascript:;">物理<i class="layui-icon">&#xe61a;</i></a>
				<div class="subject-select">
					<p>科目</p>
					<a href="#" class="active">语文</a>
					<a href="#">数学</a>
					<a href="#">英语</a>
					<a href="#">物理</a>
					<a href="#">化学</a>
					<a href="#">生物</a>
					<a href="#">政治</a>
					<a href="#">历史</a>
					<a href="#">地理</a>
				</div>
			</div>
			<div class="header-item nav">
				<a href="../Index/index.html" class="active">按章节</a>
				<a href="../Index/index.html">按知识点</a>
			</div>
		</div>
		<div class="fr">
			
				<form class="header-item header-search" action="../Search/index.html">
					<button type="submit" class="icon-main icon-search"></button>
		          	<input type="text" name="keywords" autocomplete="off" placeholder="搜索试题" required />
		        </form>
			
			<div class="header-item">
				<a href="../Center/index.html" class="btn-login">登录</a>
				<div class="center-menu">
					<ul>
						<li><a href="../Center/index.html">历史组卷</a></li>
						<li><a href="">收藏试题</a></li>
						<li><a href="">退出</a></li>
					</ul>
				</div>
			</div>
		</div>
	</div>
</div>