<!DOCTYPE html>
<html>
<head>
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
	<title>历史组卷</title>
	<meta name="Keywords" content="">
	<meta name="Description" content="">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<link rel="stylesheet" type="text/css" href="../../static/vendor/Layui/css/layui.css" />
  	<link rel="stylesheet" type="text/css" href="../../static/css/common.css" />
  	<link rel="stylesheet" type="text/css" href="../../static/css/styles.css" />
</head>
<body>

	<div id="header"></div>

	<div class="container">

		<div class="position">
			您的位置：
	      	<a href="../Index/index.html">首页</a>
	      	<span class="sp-line">&middot;</span>
	      	<a href="#">个人中心</a>
	    </div>

		<div class="row">
			<div class="center-left fl">
				<div class="photo">
					<img src="../../static/image/user-default.png">
				</div>
				<p class="name">何启元</p>
				<p class="subject text-ellipsis">
					<span class="icon icon-subject"></span>初中<span class="sp-line">|</span>物理
				</p>
				<ul class="center-menu">
					<li class="active"><a href="index.html">历史组卷</a></li>
					<li><a href="collect.html">收藏试题</a></li>
					<li><a href="">设置</a></li>
				</ul>
			</div>

			<div class="center-right fr">
				<div class="center-right-top clfix">
					<div class="title fl">历史组卷</div>
					<div class="fr center-right-search">
						<form class="layui-form" method="" action="" lay-filter="ajaxSubmit" callback="">
							<button type="submit" class="icon icon-search"></button>
							<input type="text" name="" required  lay-verify="required" placeholder="在结果中搜索" autocomplete="off" class="layui-input">
						</form>
					</div>
				</div>
				<ul class="paper-list">
					<li class="paper-item clfix">
						<div class="fl">
							<p class="title text-ellipsis">
								<span class="icon icon-paper"></span>
								<a href="">渝中区巴蜀中学2016-2017学年高一上册数学期末考试试卷</a>
							</p>
							<span class="time text-grey">组卷时间：2017-08-23</span>
							<span class="text-grey">学科：初中物理</span>
						</div>
						<div class="fr">
							<a href="" class="text-blue">编辑</a>
							<a href="" class="text-blue">下载</a>
							<a href="" class="text-red">删除</a>
						</div>
					</li>
					<li class="paper-item clfix">
						<div class="fl">
							<p class="title text-ellipsis">
								<span class="icon icon-paper"></span>
								<a href="">渝中区巴蜀中学2016-2017学年高一上册数学期末考试试卷</a>
							</p>
							<span class="time text-grey">组卷时间：2017-08-23</span>
							<span class="text-grey">学科：初中物理</span>
						</div>
						<div class="fr">
							<a href="" class="text-blue">编辑</a>
							<a href="" class="text-blue">下载</a>
							<a href="" class="text-red">删除</a>
						</div>
					</li>
					<li class="paper-item clfix">
						<div class="fl">
							<p class="title text-ellipsis">
								<span class="icon icon-paper"></span>
								<a href="">渝中区巴蜀中学2016-2017学年高一上册数学期末考试试卷</a>
							</p>
							<span class="time text-grey">组卷时间：2017-08-23</span>
							<span class="text-grey">学科：初中物理</span>
						</div>
						<div class="fr">
							<a href="" class="text-blue">编辑</a>
							<a href="" class="text-blue">下载</a>
							<a href="" class="text-red">删除</a>
						</div>
					</li>
					<li class="paper-item clfix">
						<div class="fl">
							<p class="title text-ellipsis">
								<span class="icon icon-paper"></span>
								<a href="">渝中区巴蜀中学2016-2017学年高一上册数学期末考试试卷</a>
							</p>
							<span class="time text-grey">组卷时间：2017-08-23</span>
							<span class="text-grey">学科：初中物理</span>
						</div>
						<div class="fr">
							<a href="" class="text-blue">编辑</a>
							<a href="" class="text-blue">下载</a>
							<a href="" class="text-red">删除</a>
						</div>
					</li>
					<li class="paper-item clfix">
						<div class="fl">
							<p class="title text-ellipsis">
								<span class="icon icon-paper"></span>
								<a href="">渝中区巴蜀中学2016-2017学年高一上册数学期末考试试卷</a>
							</p>
							<span class="time text-grey">组卷时间：2017-08-23</span>
							<span class="text-grey">学科：初中物理</span>
						</div>
						<div class="fr">
							<a href="" class="text-blue">编辑</a>
							<a href="" class="text-blue">下载</a>
							<a href="" class="text-red">删除</a>
						</div>
					</li>
				</ul>

				<div class="null-page">
					<img src="../../static/image/icon/null-content.png">
					<p>暂无组卷记录</p>
					<a class="btn" href="../Index/index.html">开始组卷</a>
				</div>

				<div id="laypage" class="laypage text-center" data-total="15" data-curr="3" data-link="#?p=_id_" ></div>
			</div>
		</div>
		
	</div>
	<!-- container end -->

	<div id="footer"></div>

<script src="../../static/js/jquery-2.1.1.min.js"></script>
<script src="../../static/vendor/Layui/layui.js"></script>
<script src="../../static/js/require.js" data-main="../../static/js/common"></script>
</body>
</html>