<!DOCTYPE html>
<html>
<head>
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
	<title>答案解析</title>
	<meta name="Keywords" content="">
	<meta name="Description" content="">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<link rel="stylesheet" type="text/css" href="../../static/vendor/Layui/css/layui.css" />
  	<link rel="stylesheet" type="text/css" href="../../static/css/common.css" />
  	<link rel="stylesheet" type="text/css" href="../../static/css/styles.css" />
</head>
<body>

	<div id="header"></div>

	<div class="container question-answer">

		<div class="position">
			您的位置：
	      	<a href="../Index/index.html">首页</a>
	      	<span class="sp-line">&middot;</span>
	      	<a href="#">解析</a>
	    </div>

		<div class="search-list">

			<div class="q-box">

				<div class="q-header clfix">
					<div class="fl">
						<span>题型：选择题</span><i class="line"></i>
						<span>难易：困难</span><i class="line"></i>
						<span>题类：高考模拟</span>
					</div>
				</div>

				<div class="q-content">
					
					<div class="q-item">

						<div class="q-text">
							3. 课内阅读。<br>阅读课文《别了，“不列颠尼亚”》9～11段，回答下列各题。
						</div>

						<div class="split-line"></div>
						
						<div class="q-item">
							<div class="q-text">(1)、请概括第10段描写的场景。</div>
							<div class="q-answer">
								<span class="label">【答案】</span>
								<p>解：①首尾两节虽然语意相似、节奏相同，但并不让人觉得啰嗦，而在客观上强调了诗歌的抒情性，一唱三叹，反复回旋，强化了诗人心中那种对康桥恋恋不舍的感情，一种挥之不去的惆怅伤感缭绕心头。②两词不能互换，“轻轻”是诗人客观的动作和心理，而“悄悄的”既是周围环境的静，也是诗人内心的宁静，诗人不忍心打搅康桥的一切，所以选择轻轻地来、悄悄地去。<br></p>
							</div>
						</div>
						
						<div class="q-item">
							<div class="q-text">
								(2)、中国从此恢复对香港行使主权”一句中“恢复”一词能否删掉？为什么？
							</div>
							<div class="q-options clfix">
								<div class="op-item" style="width: 854px;">
									<span class="op-item-nut">A、</span>
									<span class="op-item-meat">
										《呼兰河传》中我经常跟祖父学诗，祖父教我的有《千家诗》，并没有课本，全凭口头传诵。
									</span>
								</div>
								<div class="op-item" style="width: 854px;">
									<span class="op-item-nut">B、</span>
									<span class="op-item-meat">
										《贝多芬传》是罗曼•罗兰的得意之作，在文学领域内一直被奉为经典，从首次出版到现在，其具有的独特价值让“人们似乎从中找到了新的支撑点”，因此被评为“人类有史以来的30本最佳书”之一。
									</span>
								</div>
								<div class="op-item" style="width: 854px;">
									<span class="op-item-nut">C、</span>
									<span class="op-item-meat">
										孕育孙悟空的仙石高三丈六尺五寸，象征着周天三百六十五度；其二丈四尺围圆则象征着我国农历中的二十四节气。
									</span>
								</div>
								<div class="op-item" style="width: 854px;">
									<span class="op-item-nut">D、</span>
									<span class="op-item-meat">
										鲁滨逊热爱航海，他瞒着父亲出海。第一次航行就遇到大风浪，船只沉没，他幸好被一艘葡萄牙货船救起。船到巴西后，他在那里买下一个庄园，做了庄园主。可是他不安于现状，第二次又出海，到非洲贩卖奴隶。
									</span>
								</div>
							</div>
							<div class="q-answer">
								<span class="label">【答案】</span>
								C
							</div>
							<div class="q-answer">
								<span class="label">【分析】</span>
								诗歌题目为“再别康桥”，首尾节文字强调的“走了”正好点明“别”之意。由“别”展开的思绪，最终又回到“别”上来，既展现了形式上的完整性，又在反复强调中流露出作者的留恋之情。“悄悄”是顺承上节文字“但我不能放歌，悄悄是别离的笙箫；夏虫也为我沉默，沉默是今晚的康桥”而来，从行文逻辑上来看，不能与“轻轻”互换。且“轻轻”展现的是动作，“悄悄”展现的是心理，从动作到心理，是感情深化的过程。
							</div>
							<div class="q-answer">
								<span class="label">【点评】</span>
								关键词句或句式的反复出现是诗歌音乐性的重要体现，同时也是强调主题的一种手法。理解诗歌词句的独特性一定要结合词句所在的逻辑环境与思想环境。
							</div>
						</div>
						
					</div>

				</div>

				<div class="q-notice">
					<span class="q-from">来源：2017年高考语文真题试卷（江苏卷）</span>
				</div>
				
			</div>

		</div>
		
	</div>
	<!-- container end -->

	<div id="footer"></div>

<script src="../../static/js/jquery-2.1.1.min.js"></script>
<!-- <script src="../../static/js/vue.js"></script> -->
<script src="../../static/vendor/Layui/layui.js"></script>
<script src="../../static/js/common.js"></script>
<script src="../../static/js/require.js" data-main="../../static/js/main"></script>

</body>
</html>